.review {
    .name {
        color: var(--accent-color);
        font-family: var(--accent-font);
        font-weight: 400;
    }

    .text {
        font-size: 1rem;
        font-weight: 100;
    }

    .source {
        color: var(--accent-color);
        font-family: var(--accent-font);
        font-size: .8rem;
        font-weight: 100;
    }

    .quote {
        font-size: 4rem;
        display: inline-block;
        color: var(--accent-color);
    }
}

.full-width .container {
    width: 100% !important;
    max-width: 100% !important;
}

.carousel-indicators {
    bottom: -40px;
}